<div class="col-md-8">
  <h3>History (<%= object.history_entries.count %>)</h3>
  <% if object.history_entries.any? %>
    <ul class="comments">
      <% object.history_entries.each do |he| %>
        <li><%= he.date_time %> | <%= link_to "#{Vendor.find(he.vendor_id).business_name}", vendor_path(he.vendor_id) %></li>
      <% end %>
    </ul>
  <% else %>
    You haven't been anywhere yet! You can check in at a vendor through their page.
  <% end %>
</div>