<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="comment_form">
      <%= render 'shared/comment_form' %>
    </section>
  </aside>
</div>